*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-text: #fff;
    --color-background: #000;
    --color-foreground: #212121;
    --color-primary: #820000;
    --color-secondary: #ffec60;
    --font-copy: "Cormorant Garamond";
    --font-heading: "UnifrakturMaguntia"
}

body {
    font-family: var(--font-copy);
    color: var(--color-text);
    background-color: var(--color-background);
}